.post--liked--by--container {
    color: hsl(0, 0%, 15%);
    align-items: stretch;
    display: flex;
    position: relative;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: flex-end;

    .post--liked--by--display {
        color: rgba(var(--i1d,38,38,38),1);
        display: flex;
        position: relative;
        align-content: stretch;
        align-items: stretch;
        flex-direction: row;
        justify-content: flex-start;
        flex: 1 1 auto;

        .post--liked--by {
            color: rgba(var(--i1d,38,38,38),1);
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1 1 auto;
            justify-content: flex-start;
            white-space: pre;

            .post--liked--by--span {
                display: inline;

                .post--liked--by--span--link {
                    text-decoration: none;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 5px;
                    margin-left: -5px;
                    color: hsl(0, 0%, 15%);
                }
            }

            .post--liked--by--other--link {
                font-weight: 500;
                text-decoration: none;
                color: hsl(0, 0%, 15%);
            }
        }
    }
}