.single-post-display {
    display: grid;
    // align-items: center;
    grid-template-columns: repeat(3, 1fr);
    // // grid-auto-rows: 300px;
    grid-gap: 2em;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
}