.double-post-container .first-post-layer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.double-post-container .first-post-layer .second-post-layer {
  background-color: rgba(var(--bb2, 239, 239, 239), 1);
  display: block;
  width: 100%;
  border-radius: 10px;
}

.double-post-container .first-post-layer .second-post-layer .third-post-layer {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.double-post-container .first-post-layer .second-post-layer .third-post-layer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.double-post-container .double-post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.double-post-container .double-post-details .double-user-post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.double-post-container .double-post-details .double-user-post-details .double-user-post-details-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.double-post-container .double-post-details .double-user-post-details .double-user-post-details-content .double-user-post-details-name {
  max-width: 150px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-transform: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-overflow: ellipsis;
}

.double-post-container .double-post-details .double-user-post-details .double-user-post-details-content .double-user-post-details-name a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.double-post-container .double-post-details .double-user-post-details .double-user-post-details-content .double-user-post-details-time {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.double-post-container .double-post-details .double-user-post-details .double-user-post-details-content .double-user-post-details-time a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
}

.double-post-container .double-post-details .double-post-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.double-post-container .double-post-details .double-post-options .likes-link-container .likes-link {
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  text-decoration: none;
}

.double-post-container .double-post-details .double-post-options .double-post-button-container {
  display: inline-block;
  margin-left: 10px;
}

.double-post-container .double-post-details .double-post-options .double-post-button-container button {
  margin: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  outline: none;
}

.double-post-container .double-post-details .double-post-options .double-post-button-container button .double-post-btn {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.double-post-container .double-post-details .double-post-options .double-post-button-container button .double-post-btn span {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-animation-duration: .45s;
          animation-duration: .45s;
  -webkit-animation-name: like-button-animation;
          animation-name: like-button-animation;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.double-post-container .double-post-details .double-post-options .double-post-button-container button .double-post-btn span img {
  fill: #ed4956;
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
}
/*# sourceMappingURL=index.css.map */