$font-size: 12px;

.single-post-container {
    // border-radius: 10px;
    // width: 30%;
    // margin-right: 2em;
    // margin-bottom: 2em;
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(243, 228, 228);
    border-radius: 10px;

    .first-post-layer {
        flex-grow: 1;
        width: 100%;
        cursor: pointer;
        position: relative;
        user-select: none;
        .second-post-layer {
            background-color: rgba(var(--bb2, 239, 239, 239), 1);
            display: block;
            width: 100%;
            border-radius: 10px;

            .third-post-layer {
                display: block;
                overflow: hidden;
                padding-bottom: 100%;
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }
        }
        // padding-bottom: 100%;
        // height: 400px;

        
    }

    .single-post-details {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        padding: 10px;
        width: 500px;
        padding: 0 16px;
        position: relative;

        .single-user-post-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #8e8e8e;
            padding: 5px 0;

            .single-user-post-detail-header {
                display: flex;
                align-items: center;
                
            }

            .single-post-button-container {
                display: inline-block;
                margin-left: 10px;
                button {
                    margin: 0;
                    color: rgba(var(--i1d,38,38,38),1);
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    align-items: center;
                    background: 0 0;
                    border: 0;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    outline: none;

                    .single-post-btn {
                        color: rgba(var(--i1d,38,38,38),1);
                        cursor: pointer;
                        font: inherit;
                        vertical-align: baseline;
                        border: 0 solid #000;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        align-items: center;
                        justify-content: center;

                        span {
                            color: rgba(var(--i1d,38,38,38),1);
                            cursor: pointer;
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            vertical-align: baseline;
                            animation-duration: .45s;
                            animation-name: like-button-animation;
                            animation-timing-function: ease-in-out;
                            transform: scale(1);

                            img {
                                fill: rgb(237, 73, 86);
                                height: 15px;
                                width: 15px;
                                display: block;
                                position: relative;
                            }
                        }
                    }
                }
            }

            .single-user-post-details-content {
                display: flex;
                flex-direction: column;
                margin-left: 20px;

                .single-user-post-details-name {
                    max-width: 130px;
                    overflow: hidden;
                    cursor: pointer;
                    white-space: nowrap;
                    text-transform: inherit;
                    user-select: none;
                    text-overflow: ellipsis;
                    
                    

                    a {
                        text-decoration: none;
                        font-size: $font-size;
                        font-weight: 600;
                        color: black;
                        text-decoration: none;
                    }
                }
    
                .single-user-post-details-time {
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    a {
                        text-decoration: none;
                        font-size: $font-size;
                        font-weight: 600;
                        color: #8e8e8e;
                        color: rgba(var(--f52, 142, 142, 142), 1);
                        font-size: 12px;
                        
                    }
                }
            }


        }

        .single-post-button-container-display {
            display: flex;
            align-items: center;
            padding: 5px 0;


            .single-post-button-container {
                display: inline-block;
                margin-right: 10px;

                &:last-child {
                    margin-left: auto;
                    margin-right: 0;
                }
                button {
                    margin: 0;
                    color: rgba(var(--i1d,38,38,38),1);
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    align-items: center;
                    background: 0 0;
                    border: 0;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    outline: none;

                    .single-post-btn {
                        color: rgba(var(--i1d,38,38,38),1);
                        cursor: pointer;
                        font: inherit;
                        vertical-align: baseline;
                        border: 0 solid #000;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        align-items: center;
                        justify-content: center;

                        span {
                            color: rgba(var(--i1d,38,38,38),1);
                            cursor: pointer;
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            vertical-align: baseline;
                            animation-duration: .45s;
                            animation-name: like-button-animation;
                            animation-timing-function: ease-in-out;
                            transform: scale(1);

                            img {
                                fill: rgb(237, 73, 86);
                                height: 20px;
                                width: 20px;
                                display: block;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }



        .single-post-like-container {
            margin: 10px 0;
            flex-direction: row;
            justify-content: flex-end;
            .single-post-like-display {
                display: flex;
                align-items: center;

                span {
                    a {

                        pointer-events: auto;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        vertical-align: baseline;
                        font-weight: 600;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-left: 5px;
                        margin-left: -5px;
                        text-decoration: none;
                        color: rgba(var(--i1d,38,38,38),1);
                    }
                }
                button {
                    pointer-events: auto;
                    white-space: pre;
                    margin: 0;
                    font-size: 14px;
                    line-height: 18px;
                    appearance: none;
                    background: 0 0;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-weight: 600;
                    text-align: center;
                    text-transform: inherit;
                    text-overflow: ellipsis;
                    user-select: none;
                    width: auto;
                    background-color: transparent;
                    border: 0;
                    display: inline;
                    padding: 0;
                    position: relative;
                    color: rgba(var(--f75,38,38,38),1);
                    margin-left: 5px;
                }
            }
        }

        .over-flow-ul {
            color: rgba(var(--i1d,38,38,38),1);
            font: inherit;
            vertical-align: baseline;
            -webkit-box-align: stretch;
            align-items: stretch;
            border: 0 solid #000;
            box-sizing: border-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            position: relative;
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            min-height: 0;
            overflow: auto;
            -webkit-box-ordinal-group: 2;
            order: 1;
            overflow-x: hidden;
            margin: 0 0 auto;
            padding: 0;



            .over-flow {
                color: rgba(var(--i1d,38,38,38),1);
                -webkit-box-direction: normal;
                margin: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
                list-style: none;
                box-sizing: content-box;
                -webkit-box-flex: 1;
                flex-grow: 1;
                height: 350px;
                overflow-y: scroll;
                padding: 16px 25px 16px 0;
                width: calc(100% - 8px);






                .single-post-content {
                    // width: 300px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
        
                    .single-post-caption {
        
                        color: rgba(var(--i1d,38,38,38),1);
                        list-style: none;
                        font: inherit;
                        vertical-align: baseline;
                        align-items: stretch;
                        border: 0 solid #000;
                        box-sizing: border-box;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        display: inline-block;
                        flex-shrink: 1;
                        min-width: 0;
        
                        .single-post-caption-user-detail {
                            align-items: center;
                            display: inline-flex;
                            .single-post-username {
                                flex: 0 0 auto;
                                margin-right: 4px;
                                justify-content: flex-start;
                                align-items: stretch;
                                max-width: 130px;
                                overflow: hidden;
                                text-overflow: ellipsis;
        
                                a {
                                    list-style: none;
                                    margin: 0;
                                    font: inherit;
                                    vertical-align: baseline;
                                    appearance: none;
                                    background: 0 0;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    font-weight: 600;
                                    text-align: center;
                                    text-transform: inherit;
                                    text-overflow: ellipsis;
                                    width: auto;
                                    user-select: auto;
                                    text-decoration: none;
                                    background-color: transparent;
                                    border: 0;
                                    display: inline;
                                    padding: 0;
                                    position: relative;
                                    color: rgba(var(--f75,38,38,38),1);
                                }
                            }
                        }
        
        
                        span {
                            // max-width: 80px;
                            overflow: hidden;
                            cursor: pointer;
                            white-space: nowrap;
                            text-transform: inherit;
                            user-select: none;
                            text-overflow: ellipsis;
            
                            a {
                                pointer-events: auto;
                                list-style: none;
                                -webkit-box-direction: normal;
                                margin: 0;
                                font: inherit;
                                vertical-align: baseline;
                                appearance: none;
                                background: 0 0;
                                box-sizing: border-box;
                                cursor: pointer;
                                font-weight: 600;
                                text-align: center;
                                text-transform: inherit;
                                text-overflow: ellipsis;
                                width: auto;
                                user-select: auto;
                                text-decoration: none;
                                background-color: transparent;
                                border: 0;
                                display: inline;
                                padding: 0;
                                position: relative;
                                color: rgba(var(--f75,38,38,38),1);
                            }
                        }
                    }
        
                    .single-post-time-container {
                        margin: 5px 0 15px 0;
        
                        .single-post-time {
                            list-style: none;
                            margin: 0;
                            font: inherit;
                            vertical-align: baseline;
                            background: 0 0;
                            border: 0;
                            display: inline;
                            margin-right: 12px;
                            padding: 0;
                            color: rgba(var(--f52,142,142,142),1);
                            cursor: default;
                            line-height: 14px;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                    
                }
        
        
        
                .single-post-options {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
        
                    .likes-link-container {
                        .likes-link {
                            font-size: $font-size;
                            cursor: pointer;
                            display: block;
                            font-weight: 600;
                            text-align: center;
                            text-transform: inherit;
                            text-overflow: ellipsis;
                            user-select: none;
                            color: black;
                            text-decoration: none;
                        }
                    }
        
                    // .single-post-button-container {
                    //     display: inline-block;
                    //     margin-left: 10px;
                    //     button {
                    //         margin: 0;
                    //         color: rgba(var(--i1d,38,38,38),1);
                    //         font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                    //         font-size: 14px;
                    //         line-height: 18px;
                    //         align-items: center;
                    //         background: 0 0;
                    //         border: 0;
                    //         cursor: pointer;
                    //         display: flex;
                    //         justify-content: center;
                    //         padding: 5px;
                    //         outline: none;
        
                    //         .single-post-btn {
                    //             color: rgba(var(--i1d,38,38,38),1);
                    //             cursor: pointer;
                    //             font: inherit;
                    //             vertical-align: baseline;
                    //             border: 0 solid #000;
                    //             box-sizing: border-box;
                    //             display: flex;
                    //             flex-direction: column;
                    //             flex-shrink: 0;
                    //             margin: 0;
                    //             padding: 0;
                    //             position: relative;
                    //             align-items: center;
                    //             justify-content: center;
        
                    //             span {
                    //                 color: rgba(var(--i1d,38,38,38),1);
                    //                 cursor: pointer;
                    //                 margin: 0;
                    //                 padding: 0;
                    //                 border: 0;
                    //                 font: inherit;
                    //                 vertical-align: baseline;
                    //                 animation-duration: .45s;
                    //                 animation-name: like-button-animation;
                    //                 animation-timing-function: ease-in-out;
                    //                 transform: scale(1);
        
                    //                 img {
                    //                     fill: rgb(237, 73, 86);
                    //                     height: 15px;
                    //                     width: 15px;
                    //                     display: block;
                    //                     position: relative;
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
        
                .reply-container {
                    ul {
                        
                        li {
                            margin-bottom: 10px;
                            color: rgba(var(--i1d,38,38,38),1);
                            pointer-events: auto;
                            list-style: none;
                            -webkit-box-direction: normal;
                            border: 0;
                            font: inherit;
                            vertical-align: baseline;
                            overflow: hidden;
                            margin-right: 0;
                            // padding: 12px 10px;
                            width: auto;
                            padding-bottom: 0;
        
                            .single-post-comment {
                                color: rgba(var(--i1d,38,38,38),1);
                                pointer-events: auto;
                                list-style: none;
                                font: inherit;
                                vertical-align: baseline;
                                border: 0 solid #000;
                                box-sizing: border-box;
                                flex-shrink: 0;
                                margin: 0;
                                padding: 0;
                                position: relative;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                // justify-content: space-between;
                                align-items: flex-start;
        
                                .comment-button-container {
                                    display: inline-block;
                                    margin-right: 10px;
                                    button {
                                        margin: 0;
                                        color: rgba(var(--i1d,38,38,38),1);
                                        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                                        font-size: 14px;
                                        line-height: 18px;
                                        align-items: center;
                                        background: 0 0;
                                        border: 0;
                                        cursor: pointer;
                                        display: flex;
                                        justify-content: center;
                                        padding: 0 5px;
                                        outline: none;
                    
                                        .comment-post-btn {
                                            color: rgba(var(--i1d,38,38,38),1);
                                            cursor: pointer;
                                            font: inherit;
                                            vertical-align: baseline;
                                            border: 0 solid #000;
                                            box-sizing: border-box;
                                            display: flex;
                                            flex-direction: column;
                                            flex-shrink: 0;
                                            margin: 0;
                                            padding: 0;
                                            position: relative;
                                            align-items: center;
                                            justify-content: center;
                    
                                            span {
                                                color: rgba(var(--i1d,38,38,38),1);
                                                cursor: pointer;
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                font: inherit;
                                                vertical-align: baseline;
                                                animation-duration: .45s;
                                                animation-name: like-button-animation;
                                                animation-timing-function: ease-in-out;
                                                transform: scale(1);
                    
                                                img {
                                                    fill: rgb(237, 73, 86);
                                                    height: 15px;
                                                    width: 15px;
                                                    display: block;
                                                    position: relative;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
        
                                .comment-caption {
                                    color: rgba(var(--i1d,38,38,38),1);
                                    list-style: none;
                                    font: inherit;
                                    vertical-align: baseline;
                                    align-items: stretch;
                                    border: 0 solid #000;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    margin: 0;
                                    padding: 0;
                                    position: relative;
                                    display: inline-block;
                                    flex-shrink: 1;
                                    min-width: 0;
        
                                    .comment-caption-user-detail {
                                        align-items: center;
                                        display: inline-flex;
                                        .comment-post-username {
                                            flex: 0 0 auto;
                                            margin-right: 4px;
                                            justify-content: flex-start;
                                            align-items: stretch;
                                            max-width: 100px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
        
                                            a {
                                                list-style: none;
                                                margin: 0;
                                                font: inherit;
                                                vertical-align: baseline;
                                                appearance: none;
                                                background: 0 0;
                                                box-sizing: border-box;
                                                cursor: pointer;
                                                font-weight: 600;
                                                text-align: center;
                                                text-transform: inherit;
                                                text-overflow: ellipsis;
                                                width: auto;
                                                user-select: auto;
                                                text-decoration: none;
                                                background-color: transparent;
                                                border: 0;
                                                display: inline;
                                                padding: 0;
                                                position: relative;
                                                color: rgba(var(--f75,38,38,38),1);
                                            }
                                        }
                                    }
        
        
                                    span {
                                        // max-width: 80px;
                                        overflow: hidden;
                                        cursor: pointer;
                                        white-space: nowrap;
                                        text-transform: inherit;
                                        user-select: none;
                                        text-overflow: ellipsis;
                        
                                        a {
                                            pointer-events: auto;
                                            list-style: none;
                                            -webkit-box-direction: normal;
                                            margin: 0;
                                            font: inherit;
                                            vertical-align: baseline;
                                            appearance: none;
                                            background: 0 0;
                                            box-sizing: border-box;
                                            cursor: pointer;
                                            font-weight: 600;
                                            text-align: center;
                                            text-transform: inherit;
                                            text-overflow: ellipsis;
                                            width: auto;
                                            user-select: auto;
                                            text-decoration: none;
                                            background-color: transparent;
                                            border: 0;
                                            display: inline;
                                            padding: 0;
                                            position: relative;
                                            color: rgba(var(--f75,38,38,38),1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .comment-form-container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border: 1px solid red;
            // padding-left: 10px;
            // padding-right: 10px;
            font: inherit;
            vertical-align: baseline;
            -webkit-box-align: stretch;
            align-items: stretch;
            border: 0 solid #000;
            box-sizing: border-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            margin: 0;
            padding: 0;
            // position: relative;
            border-top: 1px solid rgba(var(--ce3,239,239,239),1);
            color: rgba(var(--f52,142,142,142),1);
            flex-shrink: 0;
            font-size: 14px;
            line-height: 18px;
            min-height: 56px;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-ordinal-group: 6;
            order: 5;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            margin-top: 8px;

            .emoji-display {
                display: flex;
                align-items: center;
                justify-content: space-between;
                // margin: 5px 0;

                h2 {
                    cursor: pointer;
                }
            }

            form {
                color: rgba(var(--f52,142,142,142),1);
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-direction: row;
                -webkit-box-flex: 1;
                flex-grow: 1;
                flex-shrink: 1;
                position: relative;

                .comment-form-profile {
                    padding: 8px 16px 8px 0;
                    background-color: inherit;
                    border: inherit;
                }

                textarea {
                    -webkit-box-direction: normal;
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                    line-height: 18px;
                    background: 0 0;
                    border: 1px solid rgb(94, 85, 85);
                    color: rgba(var(--i1d,38,38,38),1);
                    display: flex;
                    -webkit-box-flex: 1;
                    flex-grow: 1;
                    font-size: inherit;
                    max-height: 80px;
                    outline: 0;
                    padding: 0;
                    resize: none;
                    width: 0;
                    height: 40px;
                    border-radius: 100vh;
                    padding: .6em 3em .6em 1em;

                }

                .post-comment-btn {
                    -webkit-box-direction: normal;
                    margin: 0;
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    appearance: none;
                    background: 0 0;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-weight: 600;
                    text-align: center;
                    text-transform: inherit;
                    text-overflow: ellipsis;
                    user-select: none;
                    width: auto;
                    border: 0;
                    color: rgba(var(--d69,0,149,246),1);
                    display: inline;
                    padding: 0;
                    position: relative;
                    pointer-events: none;
                    // opacity: .3;
                    position: absolute;
                    right: 20px;
                    cursor: pointer;
                }

            }
        }
    }
    
}
