.single-post-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #f3e4e4;
  border-radius: 10px;
}

.single-post-container .first-post-layer {
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.single-post-container .first-post-layer .second-post-layer {
  background-color: rgba(var(--bb2, 239, 239, 239), 1);
  display: block;
  width: 100%;
  border-radius: 10px;
}

.single-post-container .first-post-layer .second-post-layer .third-post-layer {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.single-post-container .first-post-layer .second-post-layer .third-post-layer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.single-post-container .single-post-details {
  padding: 10px;
  width: 500px;
  padding: 0 16px;
  position: relative;
}

.single-post-container .single-post-details .single-user-post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8e8e8e;
  padding: 5px 0;
}

.single-post-container .single-post-details .single-user-post-details .single-user-post-detail-header {
  display: flex;
  align-items: center;
}

.single-post-container .single-post-details .single-user-post-details .single-post-button-container {
  display: inline-block;
  margin-left: 10px;
}

.single-post-container .single-post-details .single-user-post-details .single-post-button-container button {
  margin: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  outline: none;
}

.single-post-container .single-post-details .single-user-post-details .single-post-button-container button .single-post-btn {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.single-post-container .single-post-details .single-user-post-details .single-post-button-container button .single-post-btn span {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  animation-duration: .45s;
  animation-name: like-button-animation;
  animation-timing-function: ease-in-out;
  transform: scale(1);
}

.single-post-container .single-post-details .single-user-post-details .single-post-button-container button .single-post-btn span img {
  fill: #ed4956;
  height: 15px;
  width: 15px;
  display: block;
  position: relative;
}

.single-post-container .single-post-details .single-user-post-details .single-user-post-details-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.single-post-container .single-post-details .single-user-post-details .single-user-post-details-content .single-user-post-details-name {
  max-width: 130px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-transform: inherit;
  user-select: none;
  text-overflow: ellipsis;
}

.single-post-container .single-post-details .single-user-post-details .single-user-post-details-content .single-user-post-details-name a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.single-post-container .single-post-details .single-user-post-details .single-user-post-details-content .single-user-post-details-time {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-post-container .single-post-details .single-user-post-details .single-user-post-details-content .single-user-post-details-time a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
}

.single-post-container .single-post-details .single-post-button-container-display {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.single-post-container .single-post-details .single-post-button-container-display .single-post-button-container {
  display: inline-block;
  margin-right: 10px;
}

.single-post-container .single-post-details .single-post-button-container-display .single-post-button-container:last-child {
  margin-left: auto;
  margin-right: 0;
}

.single-post-container .single-post-details .single-post-button-container-display .single-post-button-container button {
  margin: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  outline: none;
}

.single-post-container .single-post-details .single-post-button-container-display .single-post-button-container button .single-post-btn {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.single-post-container .single-post-details .single-post-button-container-display .single-post-button-container button .single-post-btn span {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  animation-duration: .45s;
  animation-name: like-button-animation;
  animation-timing-function: ease-in-out;
  transform: scale(1);
}

.single-post-container .single-post-details .single-post-button-container-display .single-post-button-container button .single-post-btn span img {
  fill: #ed4956;
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
}

.single-post-container .single-post-details .single-post-like-container {
  margin: 10px 0;
  flex-direction: row;
  justify-content: flex-end;
}

.single-post-container .single-post-details .single-post-like-container .single-post-like-display {
  display: flex;
  align-items: center;
}

.single-post-container .single-post-details .single-post-like-container .single-post-like-display span a {
  pointer-events: auto;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  text-decoration: none;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

.single-post-container .single-post-details .single-post-like-container .single-post-like-display button {
  pointer-events: auto;
  white-space: pre;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  background-color: transparent;
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  color: rgba(var(--f75, 38, 38, 38), 1);
  margin-left: 5px;
}

.single-post-container .single-post-details .over-flow-ul {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  overflow: auto;
  order: 1;
  overflow-x: hidden;
  margin: 0 0 auto;
  padding: 0;
}

.single-post-container .single-post-details .over-flow-ul .over-flow {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  box-sizing: content-box;
  flex-grow: 1;
  height: 350px;
  overflow-y: scroll;
  padding: 16px 25px 16px 0;
  width: calc(100% - 8px);
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-caption {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  list-style: none;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  flex-shrink: 1;
  min-width: 0;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-caption .single-post-caption-user-detail {
  align-items: center;
  display: inline-flex;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-caption .single-post-caption-user-detail .single-post-username {
  flex: 0 0 auto;
  margin-right: 4px;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-caption .single-post-caption-user-detail .single-post-username a {
  list-style: none;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  width: auto;
  user-select: auto;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  color: rgba(var(--f75, 38, 38, 38), 1);
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-caption span {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-transform: inherit;
  user-select: none;
  text-overflow: ellipsis;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-caption span a {
  pointer-events: auto;
  list-style: none;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  width: auto;
  user-select: auto;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  color: rgba(var(--f75, 38, 38, 38), 1);
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-time-container {
  margin: 5px 0 15px 0;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-content .single-post-time-container .single-post-time {
  list-style: none;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: 0 0;
  border: 0;
  display: inline;
  margin-right: 12px;
  padding: 0;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: default;
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-options {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .single-post-options .likes-link-container .likes-link {
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  color: black;
  text-decoration: none;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li {
  margin-bottom: 10px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  pointer-events: auto;
  list-style: none;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
  margin-right: 0;
  width: auto;
  padding-bottom: 0;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  pointer-events: auto;
  list-style: none;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-button-container {
  display: inline-block;
  margin-right: 10px;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-button-container button {
  margin: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  outline: none;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-button-container button .comment-post-btn {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-button-container button .comment-post-btn span {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  animation-duration: .45s;
  animation-name: like-button-animation;
  animation-timing-function: ease-in-out;
  transform: scale(1);
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-button-container button .comment-post-btn span img {
  fill: #ed4956;
  height: 15px;
  width: 15px;
  display: block;
  position: relative;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-caption {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  list-style: none;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  flex-shrink: 1;
  min-width: 0;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-caption .comment-caption-user-detail {
  align-items: center;
  display: inline-flex;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-caption .comment-caption-user-detail .comment-post-username {
  flex: 0 0 auto;
  margin-right: 4px;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-caption .comment-caption-user-detail .comment-post-username a {
  list-style: none;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  width: auto;
  user-select: auto;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  color: rgba(var(--f75, 38, 38, 38), 1);
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-caption span {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-transform: inherit;
  user-select: none;
  text-overflow: ellipsis;
}

.single-post-container .single-post-details .over-flow-ul .over-flow .reply-container ul li .single-post-comment .comment-caption span a {
  pointer-events: auto;
  list-style: none;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  width: auto;
  user-select: auto;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  color: rgba(var(--f75, 38, 38, 38), 1);
}

.single-post-container .single-post-details .comment-form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid red;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  color: rgba(var(--f52, 142, 142, 142), 1);
  flex-shrink: 0;
  font-size: 14px;
  line-height: 18px;
  min-height: 56px;
  justify-content: center;
  order: 5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 8px;
}

.single-post-container .single-post-details .comment-form-container .emoji-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-post-container .single-post-details .comment-form-container .emoji-display h2 {
  cursor: pointer;
}

.single-post-container .single-post-details .comment-form-container form {
  color: rgba(var(--f52, 142, 142, 142), 1);
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.single-post-container .single-post-details .comment-form-container form .comment-form-profile {
  padding: 8px 16px 8px 0;
  background-color: inherit;
  border: inherit;
}

.single-post-container .single-post-details .comment-form-container form textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  line-height: 18px;
  background: 0 0;
  border: 1px solid #5e5555;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: flex;
  flex-grow: 1;
  font-size: inherit;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
  width: 0;
  height: 40px;
  border-radius: 100vh;
  padding: .6em 3em .6em 1em;
}

.single-post-container .single-post-details .comment-form-container form .post-comment-btn {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  border: 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  pointer-events: none;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */