$story-image-sizing: 56px;

.story-item-container {
    height: 120px;
    padding: 0 4px;
    top: 2px;
    width: 80px;
    text-align: center;

    .link {
        align-items: center;
        align-self: center;
        background: 0 0;
        border: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;
        width: 64px;
        margin: 0 auto;
    


        .story-container-image-container {
            margin-bottom: 4px;
            margin-top: 0px;
        }

        .story-text {
            letter-spacing: .01em;
            max-width: 75px;
            color: #262626;
            color: rgba(var(--i1d,38,38,38),1);
            display: block;
            font-size: 12px;
            line-height: 14px;
            overflow: hidden;
            // position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            top: 68px;
            white-space: nowrap;
            font-weight: 500;
        }
    }
}