.notification-section {
    top: 50px;
    margin-left: -423px;
    position: absolute;

    .notification-display {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        box-shadow: 0 0 5px 1px hsl(0, 9%, 82%);
        position: absolute;
        z-index: 3;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 75ms linear,transform 38ms ease-out,-webkit-transform 38ms ease-out;
        transform-origin: top center;

        .notification-arrow {
            align-items: stretch;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background: rgba(var(--d87,255,255,255),1);
            border: 1px solid rgba(var(--f23,255,255,255),1);
            box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
            height: 14px;
            position: absolute;
            transform: rotate(45deg);
            width: 14px;
            bottom: 0;
            top: -6px;
            left: 427px;
        }

        .notification-notify-container {
            background: #fff;
            border-radius: 6px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            width: 100%;

            .notification-notify-display {
                max-height: 362px;
                min-height: 100px;
                overflow-y: auto;
                width: 500px;

                .notification-notify {
                    height: 362px;
                    overflow: hidden auto;
                    .notification {
                        flex-direction: column;
                        padding-bottom: 1348px;
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}