.explore-section {
    .explore-main-page {
        position: relative;

        .main-explore-display {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            position: relative;
            flex-grow: 1;
            margin: 0 auto;
            box-sizing: content-box;
            max-width: 80%;
            padding: 40px 20px 0;
            width: calc(100% - 40px);
            // padding-top: 30px;
            padding-top: 0;
            border: 1px solid red;

            .explore-first {
                color: rgba(var(--i1d,38,38,38),1);
                font: inherit;
                vertical-align: baseline;
                -webkit-box-align: stretch;
                align-items: stretch;
                border: 0 solid #000;
                box-sizing: border-box;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                flex-direction: column;
                flex-shrink: 0;
                padding: 0;
                position: relative;
                // margin: 0 -28px 0 0;
                .explore-second {
                    flex-direction: column;
                    padding-bottom: 572.375px;
                    padding-top: 65px;

                    .main-explore-post-container {
                        display: block;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;

                        .first-explore-grid {
                            grid-area: 1 / 1 / 2 / 2;
                            background-color: red;
                        }
                        .second-explore-grid {
                            grid-area: 2 / 1 / 3 / 2;
                            background-color: green;
                        }
                        .third-explore-grid {
                            grid-area: 1 / 2 / 3 / 4; 
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}