.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: white;
  z-index: 3;
}

.main-header .main-header-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.main-header .main-header-display .main-logo .display-logo {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.main-header .main-header-display .main-header-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-header .main-header-display .main-header-nav ul li {
  display: inline-block;
  padding: 0 22px;
}

.main-header .main-header-display .main-header-nav ul li .nav--home--link path {
  d: path("m498.195312 222.695312c-.011718-.011718-.023437-.023437-.035156-.035156l-208.855468-208.847656c-8.902344-8.90625-20.738282-13.8125-33.328126-13.8125-12.589843 0-24.425781 4.902344-33.332031 13.808594l-208.746093 208.742187c-.070313.070313-.140626.144531-.210938.214844-18.28125 18.386719-18.25 48.21875.089844 66.558594 8.378906 8.382812 19.445312 13.238281 31.277344 13.746093.480468.046876.964843.070313 1.453124.070313h8.324219v153.699219c0 30.414062 24.746094 55.160156 55.167969 55.160156h81.710938c8.28125 0 15-6.714844 15-15v-120.5c0-13.878906 11.289062-25.167969 25.167968-25.167969h48.195313c13.878906 0 25.167969 11.289063 25.167969 25.167969v120.5c0 8.285156 6.714843 15 15 15h81.710937c30.421875 0 55.167969-24.746094 55.167969-55.160156v-153.699219h7.71875c12.585937 0 24.421875-4.902344 33.332031-13.808594 18.359375-18.371093 18.367187-48.253906.023437-66.636719zm0 0");
}

.main-header .main-header-display .main-header-nav ul li .nav--explore--link path {
  d: path("M 24 0 C 10.8 0 0 10.8 0 24 s 10.8 24 24 24 s 24 -10.8 24 -24 S 37.2 0 24 0 Z m 12.2 13.8 l -7 14.8 c -0.1 0.3 -0.4 0.6 -0.7 0.7 l -14.8 7 c -0.2 0.1 -0.4 0.1 -0.6 0.1 c -0.4 0 -0.8 -0.2 -1.1 -0.4 c -0.4 -0.4 -0.6 -1.1 -0.3 -1.7 l 7 -14.8 c 0.1 -0.3 0.4 -0.6 0.7 -0.7 l 14.8 -7 c 0.6 -0.3 1.3 -0.2 1.7 0.3 c 0.5 0.4 0.6 1.1 0.3 1.7 Z m -15 7.4 l -5 10.5 l 10.5 -5 l -5.5 -5.5 Z");
}

.main-header .main-header-display .main-header-nav ul li .nav--notification--link path {
  d: path("M 34.6 3.1 c -4.5 0 -7.9 1.8 -10.6 5.6 c -2.7 -3.7 -6.1 -5.5 -10.6 -5.5 C 6 3.1 0 9.6 0 17.6 c 0 7.3 5.4 12 10.6 16.5 c 0.6 0.5 1.3 1.1 1.9 1.7 l 2.3 2 c 4.4 3.9 6.6 5.9 7.6 6.5 c 0.5 0.3 1.1 0.5 1.6 0.5 s 1.1 -0.2 1.6 -0.5 c 1 -0.6 2.8 -2.2 7.8 -6.8 l 2 -1.8 c 0.7 -0.6 1.3 -1.2 2 -1.7 C 42.7 29.6 48 25 48 17.6 c 0 -8 -6 -14.5 -13.4 -14.5 Z");
}

.main-header .main-header-display .logo-div {
  margin-right: 20px;
}

.main-header .main-header-display .logo-div .logo {
  height: 20px;
  vertical-align: middle;
}

.main-header .main-header-display .icon-btn {
  background-color: inherit;
  outline: none;
  cursor: pointer;
  border: none;
}

.main-header .main-header-display .icon-btn .icon {
  height: 20px;
  vertical-align: middle;
}

.main-header .main-header-display .logo-font {
  width: 100%;
  vertical-align: middle;
}

.main-header .main-header-display .profile-logo {
  display: flex;
  align-items: center;
}

.main-header .main-header-display .profile-logo .profile-container {
  margin-left: 20px;
}
/*# sourceMappingURL=index.css.map */