.grid-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    

    .grid-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        .grid-li {
            padding: 15px 0;

            &:last-child {
                margin-top: 10em;
            }
        }

        
    }
    
}