.main-chat-section {
  height: 100vh;
  width: 100%;
}

.main-chat-section .chat-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  height: 100%;
  background-color: #fafafa;
  max-height: 100%;
  padding-top: 60px;
}

.main-chat-section .chat-container .chat-chat {
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat {
  display: flex;
  position: relative;
  border: 1px solid #dbdbdb;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex: 0 0 auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /*
            chat side bar is the link that takes user to
            post for easy and convenient navigation to post
            anything to users followers
            */
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container {
  color: #262626;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid #dbdbdb;
  height: 100%;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container {
  border: 0px solid #000;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: hidden;
  height: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - $deep);
  overflow: hidden;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs {
  display: flex;
  flex-direction: column;
  background: white;
  overscroll-behavior: contain;
  padding-top: 8px;
  height: 100%;
  overflow: hidden auto;
  /* Track */
  /* Handle */
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs::-webkit-scrollbar-thumb {
  background: #e2d9d9;
  border-radius: 100vh;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .chat-id {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  padding-bottom: 300px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .chat-id .message-request-container {
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 20px;
  display: none;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .chat-id .message-request-container .message-text {
  font: inherit;
  vertical-align: baseline;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: 600;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: block;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .chat-id .message-request-container button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  appearance: none;
  background: 0 0;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  border: 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  outline: none;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container {
  height: 100%;
  flex-grow: 1;
  width: 100%;
  display: none;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 2 1 auto;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  flex-grow: 1;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  border: 0 solid #000;
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat {
  flex-grow: 1;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  border-radius: 22px;
  cursor: default;
  display: flex;
  justify-content: center;
  min-height: 44px;
  align-self: flex-end;
  max-width: none;
  z-index: auto;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kari-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-basis: 32px;
  flex-direction: row;
  justify-content: flex-end;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kari-btn-container button {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  height: 42px;
  padding: 0 5px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kari-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 8px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  max-width: 236px;
  min-height: 44px;
  overflow: hidden;
  z-index: 1;
  background: #efefef;
  align-self: flex-end;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  touch-action: manipulation;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan .collins {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
  flex: 0 0 auto;
  padding: 16px;
  min-height: 44px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan .collins .ola {
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  font-weight: 400;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  overflow-wrap: break-word;
  white-space: normal;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan .collins .ola span {
  cursor: default;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  overflow-wrap: break-word;
  white-space: normal;
  font: inherit;
  vertical-align: baseline;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .profile-img {
  margin-right: 10px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .d {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  position: relative;
  align-items: center;
  border-radius: 22px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  flex-direction: row;
  min-height: 44px;
  padding-left: 11px;
  padding-right: 8px;
  width: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .d .message-text-area-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  margin-right: 4px;
  width: 100%;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .d .message-text-area-container .textarea {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: 0;
  overflow: auto;
  padding: 8px 9px;
  resize: none;
  height: 18px !important;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .d .chat-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-basis: 32px;
  flex-direction: row;
  justify-content: flex-end;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .d .chat-btn-container button {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  height: 42px;
  padding: 0 5px;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .message-container .a .b .text-container .text-a .d .chat-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-side-bar {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  padding: 25px 5px;
  display: none;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-side-bar .side-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-basis: 32px;
  flex-direction: row;
  justify-content: flex-end;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-side-bar .side-btn-container button {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
}

.main-chat-section .chat-container .chat-chat .chat-div .user-chat .chat-side-bar .side-btn-container button .svg-container {
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=index.css.map */