.main-chat-section {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  width: 100%;
}

.main-chat-section .chat-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.main-chat-section .chat-container .chat-div {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
}

.main-chat-section .chat-container .chat-div .chat-friends-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-right: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  height: 100%;
  overflow: hidden;
  width: 350px;
  /* display none */
  /* this element is displayed none for now */
}

.main-chat-section .chat-container .chat-div .chat-friends-container .friends-header-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .friends-header-container .friends-header {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .friends-header-container .friends-header .friends-header-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .friends-header-container .friends-header .friends-header-btn-container button {
  -webkit-box-direction: normal;
  margin: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
  outline: none;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .friends-header-container .friends-header .friends-header-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .search-container {
  position: relative;
  padding: 0 20px;
  margin: 5px 0;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .search-container form .form-display {
  font: inherit;
  vertical-align: baseline;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid #f1eeee;
  border-radius: 3px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .search-container form .form-display label {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  position: relative;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .search-container form .form-display label input {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: 'Roboto Mono', monospace;
  line-height: 18px;
  background: #f1eeee;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  font-size: 16px;
  width: 100%;
  height: 30px;
  outline: none;
  border: 0px solid #000;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .search-container form .form-display label span {
  -webkit-box-direction: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  height: 36px;
  left: 50%;
  line-height: 36px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: transform ease-out .1s,-webkit-transform ease-out .1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  height: 100%;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  height: 460px;
  overflow: hidden;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: rgba(var(--d87, 255, 255, 255), 1);
  overscroll-behavior: contain;
  padding-top: 8px;
  height: 100%;
  overflow: hidden auto;
  -webkit-mask-image: -webkit-gradient(linear, center bottom, center top, color-stop(0, rgba(0, 0, 0, 0.1)), color-stop(1, black));
  /* Track */
  /* Handle */
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat::-webkit-scrollbar {
  width: 0px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vh;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat::-webkit-scrollbar-thumb {
  background: #e2d9d9;
  border-radius: 100vh;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 90px;
  padding-top: 0px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .message-request-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
  padding: 0 20px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .message-request-container .message-text {
  font: inherit;
  vertical-align: baseline;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: 600;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: block;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .message-request-container button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: 0 0;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: auto;
  border: 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  outline: none;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a {
  font: inherit;
  vertical-align: baseline;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  text-decoration: none;
  padding: 8px 15px;
  cursor: pointer;
  outline: 0;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 300ms ease 200ms;
  transition: -webkit-transform 300ms ease 200ms;
  transition: transform 300ms ease 200ms;
  transition: transform 300ms ease 200ms, -webkit-transform 300ms ease 200ms;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a:hover {
  background-color: #f7f1f1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 300ms ease 200ms;
  transition: -webkit-transform 300ms ease 200ms;
  transition: transform 300ms ease 200ms;
  transition: transform 300ms ease 200ms, -webkit-transform 300ms ease 200ms;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a:visited {
  color: #00376b;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  text-decoration: none;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .chat-user-profile-name-container {
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
  border: 0 solid #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  font-weight: 600;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 230px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .chat-user-profile-name-container .chat-user-profile-name-display {
  cursor: pointer;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  white-space: nowrap;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .chat-user-profile-name-container .chat-user-profile-name-display .chat-user-profile-name {
  cursor: pointer;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  white-space: nowrap;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .chat-user-profile-name-container .chat-user-profile-name-display .chat-user-profile-name p {
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline !important;
  margin: 0 !important;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .padding-div {
  padding: 5px 0;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 0px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container .active-display {
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  font-weight: 400;
  color: rgba(var(--f52, 142, 142, 142), 1);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container .active-display .active {
  cursor: pointer;
  color: rgba(var(--f52, 142, 142, 142), 1);
  white-space: nowrap;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container .active-display .active .last-message-or-active {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container .active-display .active .last-message-or-active p {
  cursor: pointer;
  white-space: nowrap;
  font: inherit;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(var(--f52, 142, 142, 142), 1);
  display: inline !important;
  margin: 0 !important;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container .active-display .active .spot {
  cursor: pointer;
  white-space: nowrap;
  font: inherit;
  vertical-align: baseline;
  display: inline;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  margin: 0px 4px;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .chat-user-details .active-container .active-display .active .last-message-time {
  cursor: pointer;
  color: rgba(var(--f52, 142, 142, 142), 1);
  white-space: nowrap;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .followers-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .followers-btn-container button {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

.main-chat-section .chat-container .chat-div .chat-friends-container .people-chat-container .people-chat-div .people-chat .classs .followers-chat-container a .followers-chat .followers-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-chat-section .chat-container .chat-div .message-container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .message-container .a {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-chat-section .chat-container .chat-div .message-container .a .b {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  height: 460px;
  /* Track */
  /* Handle */
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele::-webkit-scrollbar {
  width: 0px;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vh;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele::-webkit-scrollbar-thumb {
  background: #e2d9d9;
  border-radius: 100vh;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  border-radius: 22px;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 44px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: none;
  z-index: auto;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kari-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kari-btn-container button {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  height: 42px;
  padding: 0 5px;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kari-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  margin-bottom: 8px;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 236px;
  min-height: 44px;
  overflow: hidden;
  z-index: 1;
  background: #efefef;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan .collins {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 16px;
  min-height: 44px;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan .collins .ola {
  cursor: default;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  font-weight: 400;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  overflow-wrap: break-word;
  white-space: normal;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .c .dele .inner .inner-chat-container .inner-chat .bolu .kari .kunle .samuel .hassan .collins .ola span {
  cursor: default;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  overflow-wrap: break-word;
  white-space: normal;
  font: inherit;
  vertical-align: baseline;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .profile-img {
  margin-right: 10px;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .d {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 22px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 44px;
  padding-left: 11px;
  padding-right: 8px;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .d .message-text-area-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  margin-right: 4px;
  width: 100%;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .d .message-text-area-container .textarea {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: 0;
  overflow: auto;
  padding: 8px 9px;
  resize: none;
  height: 18px !important;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .d .chat-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .d .chat-btn-container button {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  height: 42px;
  padding: 0 5px;
}

.main-chat-section .chat-container .chat-div .message-container .a .b .text-container .text-a .d .chat-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-chat-section .chat-container .chat-div .chat-side-bar {
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 5px;
}

.main-chat-section .chat-container .chat-div .chat-side-bar .side-btn-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-chat-section .chat-container .chat-div .chat-side-bar .side-btn-container button {
  -webkit-box-direction: normal;
  margin: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
  outline: none;
}

.main-chat-section .chat-container .chat-div .chat-side-bar .side-btn-container button .svg-container {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */